/**
 * General admin styles
 */

html {
    scroll-behavior: smooth;
}

// Hide submenu items
// #toplevel_page_wp-help-manager-documents .wp-submenu {
//     display: none;
// }

// Fix position of toolbar under admin bar
body.toplevel_page_wp-help-manager-documents,
body.publishing-help_page_wp-help-manager-settings,
body.publishing-help_page_wp-help-manager-tools,
body.post-type-wp-help-docs {
    
    .contextual-help-sidebar {
        p span {
            margin-right: 3px;
        }
    }

    #wpbody-content {
        padding-bottom: 65px;
    }
}

// Toolbar
.wphm-toolbar {
    min-height: 55.19px;
    display: flex;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    margin: 0 -20px;
    padding: 0 10px 0 12px;
    width: calc( 100% + 20px );
    border: none;
    border-bottom: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 4%);
    background: #fff;
    color: #50575e;
    font-size: 13px;
    @media (max-width: 782px) {
        font-size: 16px;
    }
    @media (max-width: 600px) {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .filter-links {
        display: flex;
        .current {
            position: relative;
            border-bottom: none;
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: calc( 100% - 25px );
                bottom: -4px;
                height: 4px;
                background-color: #0071a4;
            }
        }
        .wphm-mobile-only {
            display: none;
            @media (max-width: 600px) {
                display: inline-block;
            }
        }
        li {
            a {
                color: #1d2327;
                padding: 18px 12.5px 15px;
                margin: 0;
                font-size: 14px;
                @media (max-width: 782px) {
                    font-size: 16px;
                }
                &:hover {
                    color: #2271b1;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .wphm-search {
        align-self: center;
        margin-right: 10px;
        margin-left: auto;
        @media (max-width: 782px) {
            display: none;
        }
    }
}
.wphm-brand {
    display: flex;
    align-items: center;
    color: #1d2327;
    font-weight: 700;
    padding: 0 10px;
    margin: 0 0 2px;
    @media (max-width: 600px) {
        display: none;
    }
    &:hover {
        color: #1d2327;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    .dashicons {
        margin-right: 7px;
        position: relative;
        line-height: 1;
        color: #babbbc;
        @media (max-width: 782px) {
            width: 24px;
            height: 24px;
            font-size: 24px;
        }
    }
    .text {
        line-height: 1;
    }
}

// Row
.wphm-docs-row {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    @media (max-width: 782px) {
        display: block;
    }
}