/**
 * General admin styles
 */

html {
    scroll-behavior: smooth;
}

body.toplevel_page_wp-help-manager-settings,
body.toplevel_page_wp-help-manager-tools,
body.post-type-wp-help-docs {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    
    // Highlight menu item
    #toplevel_page_wp-help-manager-documents .menu-top {
        background: #2271b1;
        color: #fff;
        &:after {
            right: 0;
            border: solid 8px transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: #f0f0f1;
            top: 50%;
            margin-top: -8px;
        }
        .wp-menu-image:before {
            color: rgba(240,246,252,1);
        }
    }

}

// Fix position of toolbar under admin bar
body.toplevel_page_wp-help-manager-documents,
body.toplevel_page_wp-help-manager-settings,
body.toplevel_page_wp-help-manager-tools,
body.post-type-wp-help-docs {
    
    #wpbody {
        @media (max-width: 600px) {
            padding-top: 0;
        }
    }

    .contextual-help-sidebar {
        p span {
            margin-right: 3px;
        }
    }
}

// Toolbar
.wphm-toolbar {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 -20px;
    padding: 0 10px 0 12px;
    width: calc( 100% + 20px );
    border: none;
    border-bottom: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 4%);
    background: #fff;
    color: #50575e;
    font-size: 13px;
    @media (max-width: 600px) {
        padding-top: 46px;
    }
    a {
        text-decoration: none;
    }
    .filter-links {
        .current {
            border-bottom: 4px solid #0071a4;
        }
        li {
            a {
                color: #1d2327;
                padding: 18px 0 15px;
                font-size: 14px;
                &:hover {
                    color: #2271b1;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
.wphm-brand {
    color: #1d2327;
    font-weight: 700;
    padding: 18px 0 14px;
    margin: 0 10px;
    display: inline-block;
    border-bottom: 3px solid #fff;
    @media (max-width: 600px) {
        display: none;
    }
    &:hover {
        color: #1d2327;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    .dashicons {
        position: relative;
        line-height: 1;
        top: -1px;
        color: #babbbc;
    }
}

// Row
.wphm-docs-row {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    @media (max-width: 782px) {
        display: block;
    }
}