/**
 * Documents styles
 */

// Magnific popup
body.toplevel_page_wp-help-manager-documents {

    // Admin bar fix
    .mfp-container {
        padding-top: 32px;
    }

    // Give popup z-index higher than WP menu
    .mfp-bg {
        z-index: 9991;
    }
    .mfp-wrap {
        z-index: 9992;
    }
}

// RTL 
body.rtl {
    .mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
        right: auto;
        left: -6px;
        padding-right: 0;
        padding-left: 6px;
        text-align: left;
    }
    .mfp-title {
        text-align: right;
        padding-right: 0;
        padding-left: 36px;
    }
    .mfp-counter {
        left: 0;
        right: auto;
    }
}

// Notices
.wphm-wrap {
    .notice {
        margin: 5px 0 0;
        width: 1051px;
        max-width: 100%;
        box-sizing: border-box;
    }
}

// Row
.wphm-docs-row {
    @media (max-width: 782px) {
        margin-top: 0;
    }
}

// Sidebar
.wphm-sidebar {
    overflow: hidden;
    box-sizing: border-box;
    width: 300px;
    flex-shrink: 0;
    position: relative;
    @media (max-width: 1100px) {
        width: 250px;
    }
    @media (max-width: 782px) {
        transition: none;
        width: 100%;
    }
    .inner {
        box-sizing: border-box;
        padding: 15px 15px 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    }
    .wphm-sidebar-topics {
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }
    .wphm-sidebar-topics-box {
        position: relative;
        margin: 10px 16px 10px 0;
        @media (max-width: 782px) {
            margin: 10px 0 10px 0;
        }
        ul {
            margin-top: 0;
            padding-left: 0;
            list-style: none;
            ul {
                margin: 0 0 0 21px;
                li:first-child {
                    a {
                        padding: 3px 0;
                    }
                }
            }
        }
        li {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            @media (max-width: 782px) {
                font-size: 14px;
                line-height: 22px;
            }
            span {
                display: flex;
                img {
                    align-self: flex-start;
                }
            }
            .sort-handle {
                position: relative;
                top: 3px;
                padding-right: 5px;
                margin: 3px 0;
            }
            .wphm-document-icon {
                position: relative;
                top: 4px;
                padding-right: 8px;
            }
            a {
                padding: 3px 0;
            }
        }
        h3 {
            margin-bottom: 12px;
            a {
                color: inherit;
            }
        }
        a {
            text-decoration: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
body.rtl .wphm-sidebar {
    .wphm-sidebar-topics-box {
        margin: 10px 0 10px 16px;
        @media (max-width: 782px) {
            margin: 10px 0 10px 0;
        }
        ul {
            ul {
                margin: 0 21px 0 0;
            }
        }
        li {
            .sort-handle {
                padding-right: 0;
                padding-left: 5px;
            }
            .wphm-document-icon {
                padding-right: 0;
                padding-left: 8px;
            }
        }
    }
}
.wphm-sidebar-topics {
    h3 {
        margin-top: 3px;
    }
}

// Mobile search
.wphm-search-mobile {
    margin: 15px 0 18px;
    display: none;
    @media (max-width: 782px) {
        display: block;
    }
    input[name=s] {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    input[type=submit] {
        padding: 0 14px;
        line-height: 2.71428571;
        font-size: 14px;
        vertical-align: middle;
        min-height: 40px;
    }
}

// Sort placeholder
.wphm-sort-placeholder {
	background: #f0f0f1;
	height: 40px;
    width: 100%;
    max-width: 100%;
	position: relative;
	list-style: none;
	border: 1px dashed #bbb;
    border-radius: 5px;
}
.sort-handle {
    cursor: grab;
    position: relative;
    user-select: none;
}

// Content
.wphm-content {
    box-sizing: border-box;
    width: calc( 100% - 300px );
    position: relative;
    margin: 10px 0;
    width: 752px;
    @media (max-width: 1100px) {
        width: calc( 100% - 250px );
    }
    @media (max-width: 782px) {
        width: 100%;
        margin-top: 60px;
    }
    @media (max-width: 600px) {
        margin-top: 21px;
    }
    & > .inner {
        position: relative;
        box-sizing: border-box;
        padding: 20px 30px 30px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
        border: 1px solid #ccc;
        background: #fff;
        max-width: 100%;
        font-size: 15px;
        line-height: 1.65;
        color: #191e23;
        clear: none;
        border-radius: 3px;
        @media (max-width: 782px) {
            padding: 20px;
            margin: 10px 0;
        }
        .wphm-document-title {
            padding-right: 25px;
            margin-bottom: 1.5em;
        }
        .wp-heading-inline {
            display: inline;
            padding: 5px 0 0;
            margin-right: 8px;
            @media (max-width: 782px) {
                margin-bottom: 0;
            }
        }
        .wphm-document-status {
            color: #fff;
            background: #787c82;
            display: inline-block;
            position: relative;
            top: -4px;
            margin: 0 0 0 5px;
            padding: 4px 8px 5px;
            text-decoration: none;
            border-radius: 2px;
            text-shadow: none;
            font-weight: 600;
            font-size: 13px;
            line-height: normal;
        }
        .page-title-action {
            position: relative;
            top: -4px;
            margin: 10px 0 0 0;
            display: inline-block;
        }
        a {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .page-title-action, .button {
            &:focus {
                box-shadow: 0 0 0 1px #3582c4;
                outline: 2px solid transparent;
            }
        }
        h1,h2,h3,h4,h5,h6 {
            line-height: 1.4;
            font-weight: 600;
            margin-bottom: .25em;
            @media (max-width: 782px) {
                line-height: 1.35;
            }
            &:hover {
                .wphm-docs-anchor {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .wphm-docs-content {
            h1,h2,h3,h4,h5,h6 {
                &::before { 
                    content: ""; 
                    display: block; 
                    position: relative; 
                    width: 0; 
                    height: 48px; 
                    margin-top: -48px;
                    @media (max-width: 782px) {
                        height: 62px; 
                        margin-top: -62px;
                    }
                    @media (max-width: 600px) {
                        height: 10px; 
                        margin-top: -10px;
                    }
                }
            }
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.25em;
        }
        h4 {
            font-size: 1.125em;
            line-height: 1.5;
        }
        p, blockquote, ul, ol, pre {
            margin-top: 1.35em;
            margin-bottom: 1.25em;
        }
        ul {
            padding-left: 40px;
            list-style: disc;
            li > ul {
                list-style: disc;
                margin-top: .3em;
                margin-bottom: 0;
            }
        }
        ol {
            margin-left: 0;
            padding-left: 40px;
            li > ol {
                margin-top: .3em;
                margin-bottom: 0;
            }
        }
        .wphm-docs-content > ul, 
        .wphm-docs-content > ol {
            margin-left: -22px;
        }
        p {
            margin: 1.25em 0;
            font-size: inherit;
            line-height: inherit;
        }
        blockquote {
            padding: 1.1em;
            margin-left: 0;
            margin-right: 0;
            background: #eee;
            background: rgba(0,0,0,.077);
            line-height: 1.5;
        }
        & > :first-child {
            margin-top: 0
        }
        & > :last-child {
            margin-bottom: 0;
        }
        hr {
            margin: 2em 0;
            border-top-color: #ccc;
            border-bottom: 0;
        }
        code, kbd {
            background-color: #f0f0f1;
            font-size: 14px;
        }
        pre {
            line-height: 1.45;
        }
        img, .wp-caption {
            max-width: 100%;
            height: auto;
        }
        .aligncenter {
            max-width: 100%;
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .alignleft {
            max-width: 100%;
            margin-right: 1.5em;
        }
        .alignright {
            max-width: 100%;
            margin-left: 1.5em;
        }
        .wp-caption-text {
            margin-bottom: 1.25em;
            font-size: 14px;
            font-style: italic;
        }
        figure {
            clear: both;
            margin-left: 0;
            margin-right: 0;
            a {
                display: block;
                position: relative;
                z-index: 1;
            }
            img {
                display: block;
            }
            figcaption {
                max-width: 100%;
                box-sizing: border-box;
                font-size: 14px;
                text-align: center;
                padding: .5em 1em 0;
            }
        }
        .table-wrapper {
            margin: 1.7em 0;
            overflow-x: auto;
        }
        table {
            border-collapse: collapse;
            font-size: 14px;
            td,th {
                padding: .55em .75em;
                border: 1px solid #ddd;
            }
            tr:nth-child(odd) {
                background-color: #f0f0f1;
            }
            th {
                background-color: #2271b1;
                color: #fff;
                border-color: darken( #2271b1, 10 );
            }
        }
        audio, video {
            display: block;
            width: 100%;
            max-width: 100%;
        }

        // Docs children navigation
        .wphm-children {
            margin: 1.25em 0 1.5em;
            .inner {
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                max-width: 100%;
                border: 1px solid #e8e8e8;
                background: #f6f7f7;
                border-radius: 3px;
                padding: 12px 18px 12px;
                ul {
                    margin: 0 5px 0 21px;
                    padding-left: 0;
                    list-style: none;
                }
                & > ul {
                    margin: 0;
                }
                li {
                    font-size: 14px;
                    line-height: 20px;
                    padding-left: 0;
                    margin-bottom: 0;
                }
                li > a {
                    display: inline-block;
                    padding: 4px 0;
                    text-decoration: none;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    img {
                        position: relative;
                        top: 2px;
                        padding-right: 8px;
                    }
                }
            }
        }

        // Post navigation
        .post-navigation {
            margin-top: 30px;
        }
        .nav-links {
            display: flex;
            .nav-prev {
                .icon {
                    margin-right: 3px;
                }
                .text {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
                .text-mobile {
                    display: none;
                    @media (max-width: 600px) {
                        display: inline;
                    }
                }
            }
            .nav-next {
                margin-left: auto;
                .icon {
                    margin-left: 3px;
                }
                .text {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
                .text-mobile {
                    display: none;
                    @media (max-width: 600px) {
                        display: inline;
                    }
                }
            }
        }

        // Anchor links
        .wphm-docs-anchor {
            transition: opacity .05s ease-in-out;
            opacity: 0;
            visibility: hidden;
            text-decoration: none;
            padding-left: 8px;
            font-weight: 700;
        }

    }
}
body.rtl .wphm-content {
    & > .inner {
        .wphm-document-title {
            padding-right: 0;
            padding-left: 40px;
        }
        .wphm-children {
            .inner {
                ul {
                    margin: 0 21px 0 5px;
                }
                & > ul {
                    margin: 0;
                }
                li > a {
                    img {
                        padding-right: 0;
                        padding-left: 8px;
                    }
                }
            }
        }
        .wphm-children .inner li {
            a img {
                padding-right: 0;
                padding-left: 8px;
            }
        }
        .wphm-docs-content {
            ul, ol {
                padding-left: 0;
                padding-right: 40px;
                margin-left: 0;
                margin-right: -22px;
            }
            .alignleft {
                margin-right: 0;
                margin-left: 1.5em;
            }
            .alignright {
                margin-left: 0;
                margin-right: 1.5em;
            }
        }
        .nav-links {
            .nav-prev {
                span {
                    margin-right: 0;
                    margin-left: 3px;
                }
            }
            .nav-next {
                margin-right: auto;
                margin-left: 0;
                span {
                    margin-left: 0;
                    margin-right: 3px;
                }
            }
        }
    }
}

// Quick navigation
.wphm-quick-navigation {
    display: none;
    width: 300px;
    max-width: 100%;
    margin-top: 11px;
    margin-left: 24px;
    @media (max-width: 1590px) {
        display: none!important;
    }
    .wphm-quick-navigation-fixed {
        position: static;
        &.fixed {
            position: fixed;
        }
    }
    h3 {
        margin-top: 18px;
        margin-bottom: 12px;
    }
    ul {
        margin-top: 0;
        
    }
    ul ul {
        margin: 0 0 0 10px;
    }
    li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        a {
            display: block;
            padding: 3px 0;
            text-decoration: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    } 
}
body.rtl .wphm-quick-navigation {
    margin-left: 0;
    margin-right: 24px;
}

// Search and empty document
.wphm-search,
.wphm-empty {
    .wphm-content {
        margin: 10px 0;
        .inner {
            border-radius: 3px;
        }
    }
    .wphm-sidebar-hide {
        display: none;
    }
}

// Print button
.wphm-print-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: 21px;
    color: #babbbc;
    @media (max-width: 782px) {
        top: 15px;
        right: 15px;
    }
    .dashicons {
        transition: all .05s;
    }
    &:hover {
        color: #2271b1;
    }
}
body.rtl .wphm-print-button {
    right: auto;
    left: 21px;
}

// Document footer
.wphm-document-footer {
    display: flex;
    max-width: 100%;
    margin-top: 15px;
    a {
        margin-left: auto;
        text-decoration: none;
    }
}
.wphm-back-to-top {
    color: #2271b1;
    cursor: pointer;
    display: flex;
    &:hover {
        color: #0a4b78;
    }
    .dashicons {
        display: flex;
        align-items: center;
        font-size: 1.15em;
    }
}

// Search results
.wphm-search-results {
    & > .inner {
        p {
            margin-top: .75em;
        }
    }
}

// Printing styling
@media print {
    .wphm-quick-navigation,
    .wphm-print-button,
    .wphm-toolbar,
    #wpadminbar,
    #adminmenumain,
    #screen-meta-links,
    .wphm-page-title,
    .page-title-action,
    .wphm-children,
    .wphm-sidebar,
    .wphm-content-actions,
    .post-navigation,
    .wphm-search-mobile,
    #wpfooter,
    audio,
    .audio-shortcode,
    .mejs-offscreen,
    video,
    iframe,
    .wphm-document-footer,
    .wp-block-embed.is-type-video {
        display: none!important;
    }
    .wphm-content >.inner table th {
        border-color: #ddd;
        color: #191e23;
    }
    .wphm-page-title {
        padding-top: 0;
        margin-top: 0;
    }
    .wphm-wrap {
        margin: 0;
        padding: 0;
    }
    #wpcontent {
        margin: 0;
        padding: 0;
    }
    .wphm-docs-row {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .wphm-col {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .wphm-content {
        width: 100%;
        margin: 0;
        padding: 0;
        & > .inner {
            font-size: 15px;
            margin: 0;
            width: 100%;
            padding: 0;
            border: none;
            box-shadow: none;
        }
    }
}