/**
 * Settings styles
 */

// CodeMirror
.CodeMirror {
    border: 1px solid #ddd;
}

// Wrapper
.wphm-settings-wrapper {
    display: flex;
    @media (max-width: 782px) {
        flex-wrap: wrap;
    }
    form {
        margin-left: 16px;
        max-width: calc( 100% - 232px );
        @media (max-width: 782px) {
            margin-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}

// Tabs
.wphm-settings-tabs {
    display: block;
    margin: 10px 0 10px;
    width: 232px;
    @media (max-width: 782px) {
        width: 100%;
    }
    a {
        max-width: 100%;
        margin-bottom: 0;
        display: block;
        position: relative;
        background-color: #fff;
        border: 1px solid #c3c4c7;
        border-top: 0 solid #000;
        padding: 9px 15px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
        position: relative;
        text-decoration: none;
        color: #1d2327;
        font-size: 14px;
        &:first-child {
            border-top: 1px solid #c3c4c7;
        }
        &.active {
            font-weight: 500;
            color: #1d2327;
            &::before {
                content: "";
                width: 4px;
                position: absolute;
                display: block;
                top: -1px;
                bottom: -1px;
                left: 0;
                background-color: #2271b1;
            }
        }
        &:hover {
            color: #2271b1;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            z-index: 1;
        }
    }
}
.wphm-settings-row {
    display: block;
    width: 752px;
    margin: 0 -8px;
    max-width: calc( 100% + 16px );
}
.wphm-col {
    width: 50%;
    max-width: 100%;
}
.wphm-settings-box {
    margin: 10px 8px 16px;
    min-width: 255px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    max-width: 100%;
}
.wphm-settings-box-header {
    border-bottom: 1px solid #c3c4c7;
    h2 {
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
        line-height: 1.4;
        position: relative;
        z-index: 1;
        cursor: default;
    }
}
.wphm-settings-box-inside {
    margin: 11px 0;
    padding: 0 12px 2px;
    line-height: 1.4;
    font-size: 13px;
    .form-field {
        margin: 1em -5px 0;
        max-width: calc( 100% + 10px );
        & > div {
            // width: 100%;
            padding: 0 5px;
            max-width: 100%;
            box-sizing: border-box;
        }
        & > div > label {
            margin-bottom: 3px;
            display: block;
            font-weight: 600;
        }
        input[type=text], input[type=number] {
            width: 100%;
            display: block;
            max-width: 100%;
            box-sizing: border-box;
        }
        input[type=submit] {
            display: inline-block;
        }
        input[type=checkbox] {
            margin: 0;
        }
    }
    .form-field-flex {
        display: flex;
        flex-wrap: wrap;
        .full {
            width: 100%;
        }
    }
    .form-field-three {
        div {
            width: 50%;
            @media (max-width: 782px) {
                width: 100%;
            }
        }
    }
    .form-field-submit {
        div {
            display: block;
        }
    }
    .form-field-radio {
        & > .half {
            width: calc( 50% - 10px );
        }
        & > div > label {
            margin-bottom: .75em;
        }
        & > div > div {
            display: flex;
            align-items: center;
            margin: 6px 0;
            input {
                flex-shrink: 0;
            }
            label {
                padding-left: 6px;
            }
        }
    }
    .form-field-highlight {
        & > div {
            margin: 0 5px;
            border: #ebebeb solid 1px;
            background: #fafafa;
            border-radius: 3px;
            padding: 15px 12px 12px;
        }
        & > div + div {
            margin-top: 10px;
        }
    }
}

// WPML modification
.headline-wpml {
    display: flex;
    align-items: center;
    div {
        display: flex;
        width: 40px;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-left: 1px solid #8c8f94;
        border-top: 1px solid #8c8f94;
        border-bottom: 1px solid #8c8f94;
        box-sizing: border-box;
        background-color: #f5f5f5;
    }
    img {
        flex-shrink: 0;
    }
    input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }
}

// Tools
#wphm-install-importer,
#wphm-activate-importer,
#wphm-run-importer {
    margin-bottom: 5px;
}

// Notices
.publishing-help_page_wp-help-manager-tools {
    .notice {
        margin: 5px 0;
        width: 681px;
    }
}
.publishing-help_page_wp-help-manager-settings {
    .notice {
        margin: 5px 0;
        width: 929px;
    }
}